<h1>Editing motoristum</h1>

<%= render "form", motoristum: @motoristum %>

<br>

<div>
  <%= link_to "Show this motoristum", @motoristum %> |
  <%= link_to "Back to motorista", motorista_path %>
</div>
