
<h1>Home</h1>


<h2>Funcionalidades</h2>

<ul class="menu">
    <li><%=     link_to "Cadastrar Ônibus", new_onibus_path %> </li>
    <li><%=     link_to "Listar Ônibus", onibuses_path %> </li>
    <li><%=     link_to "Cadastrar Rota", new_rotum_path %> </li>
    <li><%=     link_to "Listar Rotas", rota_path %> </li>
</ul>
