<h1>Home</h1>
<h2>Funcionalidades</h2>
<ul class="menu">
  <li><%= link_to "Motorista", home_motorista_url %></li>
  <li><%= link_to "Onibus", home_onibuses_url %></li>
  <li><%= link_to "Rotas", home_rota_url %> </li>
</ul>
