<h1>Home Rotas</h1>

<ul class="menu">
  <li><%= link_to "Cadastrar Rota", new_rotum_path %> </li>
  <li><%= link_to "Listar Rotas", rota_path %> </li>
  <li><%= link_to "Buscar Rotas", buscar_por_onibus_path %> </li>
</ul>

<div>
  <%= link_to "Voltar para o inicio", "/" %>
</div>
